<% content_for(:title, "Rails | Learn" ) %>

<h1>Chapters</h1>

<ul>
  <% @chapters.each do |chapter| %>
    <li><%= link_to chapter.name, chapter_path(chapter) %></li>
        <% end %>
</ul>

<%= link_to "Create New Chapter", new_chapter_path %>
